<p><%= link_to 'Home', root_path %></p>

<h1><%= @product.name %></h1>

<div><%= @product.description %></div>

<p><strong>Price: </strong><%= number_to_currency @product.price %></p>

<%= link_to 'Edit product', edit_product_path(@product) %>
<%= link_to 'Destroy product', @product, method: :delete, data: {confirm: 'Are you sure?'} %>